{% extends 'html/wrapper.html' %}
{% block aboutPage %}
    <div class="container">
        {% for part in aboutPageContent%}
            {% if part.heading != 'skip' %}
                <h1>{{ part.heading }}</h1>
            {% endif %}
            {% if part.paragraph != 'skip' %}
                <p style="white-space: pre-line">{{ part.paragraph|safe }}</p>
            {% endif %}
            {% if part.img %}
                {% if part.img_height == '0' and part.img_width == '0'%}
                   <img src="{{part.img.url}}"  alt="{{part.img.url}}" class="img-fluid">
                {% else %}
                    <img src="{{part.img}}"  alt="{{part.img}}" width="{{part.img_width}}%" height="{{part.img_height}}%">
                {% endif %}
            {% endif %}
            {% load staticfiles %}

        {% endfor %}
    </div>
{% endblock %}
